@font-face {
  font-family: 'neubit';
  src: url('/public/fonts/PPNeueBit-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suisse';
  src: url('/public/fonts/Suisse.ttf');
  font-weight: normal;
  font-style: normal;
}
